/* 滚动条轨道样式 */
::-webkit-scrollbar-track {
  background-image: linear-gradient(180deg, #e7f0fd 1%, #daeafc 40%) !important;
  display: none !important;
}

::-webkit-scrollbar {
  width: 4px !important;
  height: 4px !important;
  color: var(--o-scrollbar-thumb) !important;
}

/* 滚动条的滑块 */
::-webkit-scrollbar-thumb {
  background-color: var(--o-scrollbar-thumb) !important;
  border-radius: 3px !important;
}
::-webkit-scrollbar-corner {
  background: transparent !important;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--o-scrollbar-thumb) !important;
  /* 鼠标悬停时的滚动条按钮颜色 */
}
div{
  // 全局 div 默认光标
  cursor: default !important;
}
textarea::-webkit-input-placeholder {
    color: var(--o-think-header-text);
    font-size: 14px;  
}
input::-moz-placeholder, 
textarea::-moz-placeholder {  /* Mozilla Firefox 19+ */
    color: var(--o-think-header-text);
    font-size: 14px;  
}
input:-moz-placeholder, 
textarea:-moz-placeholder {  /* Mozilla Firefox 4 to 18 */
    color: var(--o-think-header-text);
    font-size: 14px;  
}
input:-ms-input-placeholder, 
textarea:-ms-input-placeholder {  /* Internet Explorer 10-11 */
    color: var(--o-think-header-text);
    font-size: 14px;  
}