.dialogue-interPreview-main {
  width: 100%;
  display: flex;
  margin-top: 32px;
  .interPreviewBox {
    display: flex;
    width: 100%;
    gap: 32px;
    flex-direction: column;
    .preTop {
      width: 100%;
      display: flex;
      justify-content: center;

      .preTopContent {
        display: flex;
        align-items: center;
        height: 40px;
        padding: 8px;
        border-radius: 20px;
        gap: 8px;
        background: linear-gradient(122.39deg, rgba(109, 117, 250, 0.2) -20.158%, rgba(90, 179, 255, 0.2) 112.459%);
        .preTitleIcon {
          width: 32px;
          height: 32px;
        }
        .preMainAppName {
          font-size: 16px;
          line-height: 24px;
          color: var(--o-text-color-primary);
          font-weight: 700;
        }
      }
    }

    .preMain {
      padding-left: 40px;
      display: flex;
      gap: 16px;

      .preMainImg {
        width: 46px;
        height: 46px;
        border-radius: 50%;
        .preMainAvator {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
      .preMainContanter {
        width: calc(100% - 166px);
        display: flex;
        flex-direction: column;
        gap: 16px;
        .preMainContent {
          width: 100%;
          padding: 24px;
          background-color: var(--o-bg-color-base);
          .preMainContentTitle {
            display: flex;
            flex-direction: column;
            gap: 8px;
            border-bottom: 1px solid var(--o-time-text);
            .greetDes {
              display: flex;
              .greetDesContent {
                font-size: 24px;
                font-weight: 700;
                line-height: 32px;
                color: var(--o-text-color-primary);
              }
              .greetDesAppName {
                color: #6c77fa;
              }
            }
            .preAppUser {
              display: flex;
              gap: 16px;
              margin-bottom: 8px;
            }
          }
          .preMainContentDes {
            font-size: 16px;
            line-height: 24px;
            margin-top: 8px;
            margin-bottom: 20px;
          }
          .preMainContentLink {
            .contentLinkTitle {
              color: var(--o-text-color-primary);
              font-size: 16px;
              line-height: 24px;
            }
            .linkBadge {
              .el-badge__content {
                right: calc(-10px + var(--el-badge-size) / 2);
                top: 4px;
              }
            }

            .connectBox {
              display: flex;
              flex-wrap: wrap;
              gap: 8px;
              .connectCard {
                display: flex;
                height: 32px;
                align-items: center;
                background: rgba(99, 149, 253, 0.1);
                padding: 0 8px 0 4px;
                border-radius: 20px;
                gap: 6px;
                .connectBoxIndex {
                  width: 24px;
                  height: 24px;
                  border-radius: 50%;
                  text-align: center;
                  line-height: 24px;
                  font-size: 14px;
                  color: var(--o-text-color-primary);
                  background: var(--o-bg-color-base);
                }
                .connectBoxContent {
                  display: block;
                  color: #6395fd;
                  font-size: 14px;
                  cursor: pointer;
                  font-weight: 400;
                  max-width: 100px;
                }
              }
            }
          }
        }
        .preFooter {
          width: 100%;
          display: flex;
          gap: 8px;
          height: 32px;
          align-items: center;
          .preFooterTitle {
            font-size: 12px;
            line-height: 14px;
            color: var(--o-text-color-secondary);
          }

          .preFooterContent {
            display: flex;
            gap: 8px;
            .preFooterContentQues {
              max-width: 150px;
              border-radius: 8px;
              padding: 8px 16px;
              background-color: var(--o-bg-color-base);
            }
          }
        }
      }
    }
  }

  .contentCollect {
    width: 24px;
    height: 24px;
    background-color: var(--o-bg-color-light);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      width: 16px;
      height: 16px;
      path {
        fill: var(--o-text-color-tertiary);
      }
    }
  }
}
