.workFlowContainer {
  display: flex;
  gap: 24px;
  width: 100%;
  @keyframes slideInFromLeft {
    from {
      opacity: 0;
      transform: translateX(-100%);
      overflow: hidden;
      min-width: 0;
      width: 0;
    }
    to {
      opacity: 1;
      transform: translateX(0);
      width: 312px;
      min-width: 256px;
    }
  }

  @keyframes slideOutToLeft {
    from {
      opacity: 1;
      transform: translateX(0);
      width: 312px;
      min-width: 256px;
    }
    to {
      opacity: 0;
      transform: translateX(-100%);
      min-width: 0;
      overflow: hidden;
      width: 0;
    }
  }

  .transition-fade-enter-active {
    animation: slideInFromLeft 0.2s ease-out;
  }

  .transition-fade-leave-active {
    animation: slideOutToLeft 0.2s ease-in;
  }

  .aside-wrapper {
    position: relative;
    height: 100%;

    .trapezoid {
      width: 56px;
      height: 15px;
      z-index: 1;
      background-color: var(--o-bg-color-base);
      position: absolute;
      left: calc(100% - 28px);
      top: 50%;
      border-top-left-radius: 20px 30px;
      border-top-right-radius: 20px 30px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      transform: perspective(100px) rotateX(50deg);
      transform-origin: bottom;
      overflow: hidden;
      transform: rotate(90deg);
      cursor: pointer;
      &::after {
        content: '';
        position: absolute;
        left: 25%;
        top: 45%;
        width: 30px;
        height: 3px;
        border-radius: 20px;
        background-color: #5cafff;
      }
    }
  }

  .copilot-aside {
    width: 312px;
    min-width: 256px;
    background-color: var(--o-bg-color-base);
    padding: 24px 4px 24px 24px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    height: 100%;
  }

  .apiCenterBox {
    height: 100%;
    display: flex;
    min-width: 264px;
    flex-direction: column;
    .apiCenterTitle {
      color: var(--o-text-color-primary);
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
    }
    .apiCenterSearch {
      margin: 8px 0;
      .o-style-search {
        width: 264px;
        .el-input__wrapper {
          border-color: var(--o-border-color-lighter);
          border-radius: 4px;
        }
        .el-input__suffix::after {
          margin-top: 7px;
        }
      }
    }

    .apiContanter {
      flex: 1;
      overflow: auto;
      .el-collapse {
        .el-collapse-item__header {
          padding: 0 !important;
          height: 28px;
          font-size: 14px;
          color: var(--o-text-color-primary);
          display: flex;
          gap: 8px;
          text-align: left;
          flex-wrap: nowrap;
          .el-icon {
            color: var(--o-text-color-tertiary);
          }
        }
        .el-collapse-item__content {
          margin-left: 0px;
        }
      }
    }
  }

  .workFlowContainerRight {
    flex: 1;
    min-width: 1292px;
    background-color: var(--o-bg-color-base);
    border-radius: 8px;
  }

  .stancesItem {
    width: 264px;
    height: 32px;
    line-height: 32px;
    background-color: var(--o-bash-bg);
    color: var(--o-text-color-primary);
    margin-bottom: 8px;
    padding-left: 16px;
    border-radius: 4px;
  }
  .workFlowContainerRight {
    position: relative;
    .workFlowOps {
      position: absolute;
      left: 24px;
      top: 24px;
      display: flex;
      gap: 8px;
      .workFlowSelect {
        display: block;
        width: 144px;
        height: 32px;
        .el-select {
          width: 144px;
          height: 32px;
        }
      }
      .debugBtn {
        width: 32px;
        height: 32px;
        background: var(--o-bg-color-base);
        cursor: pointer;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .noWorkFlow {
      position: absolute;
      width: 320px;
      height: 202px;
      top: 50%;
      left: 50%;
      margin-top: -160px;
      margin-left: -102px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0px;
      .noFlow {
        height: 130px;
        width: 100%;
        background-image: var(--no-work-flow);
        background-size: 100% 100%;
        line-height: 130px;
      }
      .noFlowDesc {
        width: 100%;
        height: 16px;
        margin-top: 8px;
        margin-bottom: 16px;
        text-align: center;
        color: var(--o-text-color-secondary);
      }
    }
  }

  .vueFlowContainer {
    width: 100%;
    height: 100%;
    .my-diagram-class {
      flex: 1 !important;
    }
  }
  .vue-flow__minimap {
    transform-origin: bottom right;
    background-color: var(--o-bg-color-base);
    bottom: 57px;
    margin-left: 24px;
    border-radius: 8px;
    width: 144px;
    height: 96px;
    svg {
      width: 144px;
      height: 96px;
      border-radius: 8px;
      path {
        padding: 10px;
        height: 100px !important;
      }
    }
  }

  .vue-flow__panel.right {
    right: unset;
    left: 0;
  }
}

.addWorkFlow {
  display: flex;
  gap: 8px;
  align-items: center;
  color: var(--o-text-color-secondary);
  .el-icon {
    color: var(--o-text-color-tertiary);
  }
}

.workFlowOption {
  display: flex;
  .flowName {
    flex: 1;
  }
  .dealIcon {
    display: inline-block;
    width: 16px;
    line-height: 32px;
    flex: right;
  }
}
// 各节点的状态样式提取
.vue-flow__node {
  min-width: 200px;
  padding: 0px;
  margin-top: -4px;
  .customNodeStyle {
    width: 328px;
    height: fit-content;
    border-radius: 4px;
    border: 4px solid transparent;
    position: relative;
    .nodeBox {
      min-height: 78px;
      padding: 16px 18px;
      display: flex;
      background-color: var(--o-bg-color-base);
      box-shadow: var(--flow-nodeBox-shadow);
      flex-direction: column;
      gap: 8px;
      border-radius: 8px;
      .title {
        display: flex;
        height: 24px;
        font-size: 16px;
        color: var(--o-text-color-primary);
        gap: 8px;
        .iconStyle {
          width: 24px;
          height: 24px;
          background: linear-gradient(120deg, rgba(109, 117, 250, 0.15), rgba(90, 179, 255, 0.15));
        }
        .label {
          flex: 1;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .moreTip {
          margin-left: auto;
          width: 24px;
          &:hover {
            color: #6395fd;
          }
        }
        .notAllow {
          cursor: not-allowed;
        }
      }
      .desc {
        font-size: 12px;
        color: var(--o-text-color-tertiary);
      }
      .branchDesc {
        font-size: 12px;
      }
    }
    .vue-flow__handle-right {
      top: 50%;
      right: 0px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: var(--o-bg-color-base);
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      z-index: 2;
      &::after {
        content: '';
        width: 12px;
        height: 12px;
        border: 4px solid rgb(223, 229, 239);
        border-radius: 50%;
        background: rgb(141, 152, 170);
      }
    }
    .vue-flow__handle-left {
      top: 50%;
      left: 0px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: var(--o-bg-color-base);
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      z-index: 2;
      &::after {
        content: '';
        width: 12px;
        height: 12px;
        border: 4px solid rgb(223, 229, 239);
        border-radius: 50%;
        background: rgb(141, 152, 170);
      }
    }
    .outHandleRing {
      position: absolute;
      display: block;
      width: 24px;
      height: 24px;
      background: #fff;
      border-radius: 50%;
      top: 50%;
      z-index: -1;
    }
    .outRingLeft {
      display: none;
      left: -12px;
      margin-top: -12px;
    }
    .outRingRight {
      display: none;
      right: -12px;
      margin-top: -12px;
    }
    .delOverShadow {
      width: 8px;
      height: 40px;
      position: absolute;
      background-color: transparent;
      top: calc(50% - 20px);
      z-index: 1;
    }
    .leftBox {
      left: -12px;
    }

    .leftNodeBox {
      width: 4px;
      left: -4px;
    }
    .rightBox {
      right: -12px;
    }
    &:hover {
      border: 4px solid rgba(99, 149, 253, 0.3);
      box-shadow: 0px 0px 0px 8px rgba(99, 149, 253, 0.1);
      .customNodeStyle {
        width: 328px;
      }
      .vue-flow__handle-left {
        width: 24px;
        height: 24px;
        left: -12px;
        margin-top: -12px;
        transform: rotate(-45deg);
        border: 4px solid rgba(99, 149, 253, 0.3);
        border-right: 4px solid transparent;
        border-bottom: 4px solid transparent;
        &::after {
          border: 4px solid rgba(99, 149, 253, 0.3);
          background: rgba(99, 149, 253);
          background-clip: content-box;
        }
      }
      .vue-flow__handle-right {
        width: 24px;
        height: 24px;
        right: -12px;
        margin-top: -12px;
        transform: rotate(45deg);
        border: 4px solid rgba(99, 149, 253, 0.3);
        border-left: 4px solid transparent;
        border-bottom: 4px solid transparent;
        &::after {
          border: 4px solid rgba(99, 149, 253, 0.3);
          background: rgba(99, 149, 253);
          background-clip: content-box;
        }
      }
      .outRingLeft {
        display: block;
        box-shadow: 0px 0px 0px 8px rgba(99, 149, 253, 0.1);
        background-clip: content-box;
      }
      .outRingRight {
        display: block;
        box-shadow: 0px 0px 0px 8px rgba(99, 149, 253, 0.1);
        background-clip: content-box;
      }
      .leftBox {
        background-color: var(--flow-node-default-over-color);
      }
      .leftNodeBox {
        background-color: var(--flow-node-boder-default-over);
      }
      .rightBox {
        background-color: var(--flow-node-default-over-color);
      }
    }
  }

  .customNodeStyle.success {
    border: 4px solid rgba(36, 171, 54, 0.3);
    .vue-flow__handle-left {
      transform: rotate(-45deg);
      width: 24px;
      height: 24px;
      left: -12px;
      margin-top: -12px;
      border: 4px solid rgba(36, 171, 54, 0.3);
      border-right: 4px solid transparent;
      border-bottom: 4px solid transparent;
      &::after {
        border: 4px solid rgba(36, 171, 54, 0.3);
        background: rgb(36, 171, 54);
        background-clip: content-box;
      }
    }
    .vue-flow__handle-right {
      width: 24px;
      height: 24px;
      right: -12px;
      margin-top: -12px;
      transform: rotate(45deg);
      border: 4px solid rgba(36, 171, 54, 0.3);
      border-left: 4px solid transparent;
      border-bottom: 4px solid transparent;
      &::after {
        border: 4px solid rgba(36, 171, 54, 0.3);
        background: rgb(36, 171, 54);
        background-clip: content-box;
      }
    }
    &:hover {
      box-shadow: 0px 0px 0px 8px rgba(36, 171, 54, 0.1);
      .outRingLeft {
        box-shadow: 0px 0px 0px 8px rgba(36, 171, 54, 0.1);
      }
      .outRingRight {
        box-shadow: 0px 0px 0px 8px rgba(36, 171, 54, 0.1);
      }
      .leftNodeBox {
        background-color: var(--flow-branch-node-success-node-cover-color);
      }
      .leftBox {
        background-color: var(--flow-node-success-over-color);
      }
      .rightBox {
        background-color: var(--flow-node-success-over-color);
      }
    }
  }

  .customNodeStyle.error {
    border: 4px solid rgba(227, 32, 32, 0.3);
    .vue-flow__handle-left {
      transform: rotate(-45deg);
      width: 24px;
      height: 24px;
      left: -12px;
      margin-top: -12px;
      border: 4px solid rgba(227, 32, 32, 0.3);
      border-right: 4px solid transparent;
      border-bottom: 4px solid transparent;
      &::after {
        border: 4px solid rgba(227, 32, 32, 0.3);
        background: rgb(227, 32, 32);
        background-clip: content-box;
      }
    }
    .vue-flow__handle-right {
      width: 24px;
      height: 24px;
      right: -12px;
      margin-top: -12px;
      transform: rotate(45deg);
      border: 4px solid rgba(227, 32, 32, 0.3);
      border-left: 4px solid transparent;
      border-bottom: 4px solid transparent;
      &::after {
        border: 4px solid rgba(227, 32, 32, 0.3);
        background: rgb(227, 32, 32);
        background-clip: content-box;
      }
    }
    .leftBox {
      background-color: transparent;
    }
    .rightBox {
      background-color: transparent;
    }
    &:hover {
      box-shadow: 0px 0px 0px 8px rgba(227, 32, 32, 0.1);
      .outRingLeft {
        box-shadow: 0px 0px 0px 8px rgba(227, 32, 32, 0.1);
      }
      .outRingRight {
        box-shadow: 0px 0px 0px 8px rgba(227, 32, 32, 0.1);
        display: none;
      }
      .leftNodeBox {
        background-color: var(--flow-branch-node-error-node-cover-color);
      }
      .leftBox {
        background-color: var(--flow-node-error-over-color);
      }
      .rightBox {
        background-color: var(--flow-node-error-over-color);
      }
    }
  }

  .customNodeStyle.running {
    border: 4px solid rgba(99, 149, 253, 0.3);
    box-shadow: 0px 0px 0px 8px rgba(99, 149, 253, 0.1);
    .vue-flow__handle-left {
      transform: rotate(-45deg);
      width: 24px;
      height: 24px;
      left: -12px;
      margin-top: -12px;
      border: 4px solid rgba(99, 149, 253, 0.3);
      border-right: 4px solid transparent;
      border-bottom: 4px solid transparent;
      &::after {
        border: 4px solid rgba(99, 149, 253, 0.3);
        background: rgba(99, 149, 253);
        background-clip: content-box;
      }
    }
    .vue-flow__handle-right {
      width: 24px;
      height: 24px;
      right: -12px;
      margin-top: -12px;
      transform: rotate(45deg);
      border: 4px solid rgba(99, 149, 253, 0.3);
      border-left: 4px solid transparent;
      border-bottom: 4px solid transparent;
      &::after {
        border: 4px solid rgba(99, 149, 253, 0.3);
        background: rgba(99, 149, 253);
        background-clip: content-box;
      }
    }
    .leftBox {
      background-color: transparent;
    }
    .rightBox {
      background-color: transparent;
    }
    &:hover {
      box-shadow: 0px 0px 0px 8px rgba(99, 149, 253, 0.1);
      .outRingLeft {
        box-shadow: 0px 0px 0px 8px rgba(99, 149, 253, 0.1);
      }
      .outRingRight {
        box-shadow: 0px 0px 0px 8px rgba(99, 149, 253, 0.1);
      }
      .leftBox {
        background-color: var(--flow-node-default-over-color);
      }
      .rightBox {
        background-color: var(--flow-node-default-over-color);
      }
    }
  }
}
.vue-flow__node:has(.default) {
  margin-top: 0px;
}
.nodeDealPopper {
  width: 64px !important;
  min-width: 64px !important;
  height: 72px;
  padding: 4px 0px !important;
  border-radius: 4px;
  .dealItem {
    display: block;
    width: 100%;
    height: 32px;
    line-height: 32px;
    text-align: center;
    margin-left: 0px;
    color: var(--o-text-color-secondary);
    &:hover {
      span {
        color: var(--o-color-white) !important;
      }
      background-color: var(--o-color-primary-secondary) !important;
    }
  }
  &:hover {
    border: 1px solid var(--o-color-primary-secondary) !important;
  }
}
