.workFlowDebug {
  width: 700px;
  height: 100%;
  position: absolute;
  right: 0;
  background-position: -370px -320px;
  border-radius: 8px;
  box-shadow: -16px 4px 16px 0px rgba(0,0,0,0.1);
  border-right: 1px solid white;
  display: flex;
  flex-direction: column;
  padding: 16px 24px;
  z-index: 99999;
  .workFlowDebugClose{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 32px;
    align-items: center;
    .closeBtn{
      width: 16px;
      height: 16px;
      cursor: pointer;
    }
   
  }
  
  .divider{
    width: 100%;
    height: 1px;
    background: var(--o-border-color-light);
  }
}
.workFlowDebug{
  background-image: var(--o-bg-image);
}


