.workFlowDebug {
  width: 40%;
  min-width: 400px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-position: -370px -320px;
  border-radius: 8px;
  box-shadow: -16px 4px 16px 0px rgba(0, 0, 0, 0.1);
  border-right: 1px solid white;
  display: flex;
  flex-direction: column;
  padding: 16px 0 16px 24px;
  z-index: 99999;
  .workFlowDebugClose {
    display: flex;
    height: 32px;
    min-height: 32px;
    margin-right: 24px;
    align-items: center;
    border-bottom: 1px solid #dfe5ef;
    justify-content: space-between;
    .title {
      width: 28px;
      font-size: 14px;
      height: 32px;
      line-height: 32px;
      color: #6395fd;
      border-bottom: 1px solid #6395fd;
    }
    .closeBtn {
      width: 16px;
      height: 16px;
      cursor: pointer;
    }
  }
  .debugContent {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: calc(100% - 32px);
    gap: 16px;
    .debugCheckArea {
      flex: 1;
      overflow-y: auto;
    }
    .inputDebugQuestion {
      height: 48px;
      width: calc(100% - 80px);
      margin-left: 56px;
      display: flex;
      align-items: center;
      border: 1px solid var(--o-bg-color-base);
      background-color: var(--o-bg-color-base);
      border-radius: 8px;
      gap: 8px;
      box-shadow: rgba(25, 25, 25, 0.05);
      .textareaInput {
        flex: 1;
        display: flex;
        height: 48px;
        textarea {
          width: 100%;
          border: none;
          outline: none;
          padding: 8px 16px;
          height: 100%;
          background-color: transparent;
          color: var(--o-text-color-primary);
        }
      }
      .sendIcon {
        width: 48px;
        height: 32px;
        .ableSend {
          cursor: pointer;
        }
        img {
          width: 32px;
        }
      }
    }
  }
}
.workFlowDebug {
  background-image: var(--o-bg-image);
}
