[Desktop Entry]
Categories=Application;Development;Network;System;
Comment=EulerCopilot Desktop Client
Comment[zh]=EulerCopilot 桌面客户端
Comment[zh_CN]=EulerCopilot 桌面客户端
Comment[zh_CN.UTF-8]=EulerCopilot 桌面客户端
Exec={{{exec}}}
Icon={{{icon}}}
Name=EulerCopilot
Terminal=false
Type=Application
