.button-group {
  text-align: center;
  .confirm-button {
    margin-top: 32px;
    width: 64px;
    height: 24px;
    border-radius: 1;
    font-size: 12px;
  }
}
.overflowTable {
  overflow-x: scroll;
}

.test {
  display: inline-block;
  margin-right: 8px;
  font-size: 14px;
  background-image: linear-gradient(to right, #6d75fa, #5ab3ff);
  background-clip: text;
  color: transparent;
  line-height: 32px;
}
.answer_img_mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;

  img {
    max-width: 100%;
    max-height: 100%;
  }

  span {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
  }
}

.el-popper[role='tooltip'] {
  background-color: var(--o-bg-color-base) !important;
  max-width: 500px;
}

.el-popper {
  border: none;
  background-color: pink !important;
  background-color: var(--o-bg-color-base) !important;

  .against-popover {
    padding: 16px;
  }

  .against-popover-title {
    color: var(--o-text-color-primary);
    font-size: 16px;
    padding-bottom: 16px;
    font-weight: 700;
    line-height: 24px;
  }

  .against-item .el-checkbox .el-checkbox__label {
    font-size: 12px;
    color: var(--o-text-color-secondary);
    line-height: 16px;
  }

  .against-button button:first-child {
    border: 1px solid var(--o-border-color-lighter);
    width: 64px;
    height: 24px;
    color: var(--o-text-color-secondary);
    font-size: 12px;
    line-height: 16px;

    &:hover {
      color: #7aa5ff;
      background-color: transparent;
      border: 1px solid #7aa5ff;
    }
  }
  .cancel_button_light[data-v-74300042]:not(.is-disabled) {
    color: var(--o-text-color-primary);
  }

  .against-popover .against-button button:first-child:hover {
    background-color: transparent;
  }

  .against-button button:last-child {
    background-color: var(--el-color-primary);
    border: none;
    color: var(--o-bg-color-base) !important;

    &:hover {
      background-color: #7aa5ff;
      color: #fff;
    }
  }

  .is-disabled,
  .is-disabled:hover {
    background-color: #b3cbff !important;
    color: #e1eaff;
  }

  .error-input {
    margin-bottom: 16px;
  }

  .against-popover .error-input__link,
  .against-popover .error-input__desc {
    background-color: var(--o-bg-color-light);
    padding: 8px 16px;
    margin-bottom: 8px;
  }
}

.against-popover {
  .radio {
    width: 88px;
    margin-bottom: 4px;
  }

  .radio_item,
  .el-radio-button__inner {
    min-width: 88px;
    width: 100%;
    height: 100%;
    border: none;
    background-color: var(--o-bg-color-light);
    color: var(--o-text-color-primary);
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-break: auto-phrase;
  }

  .el-radio-button__original-radio:checked + .el-radio-button__inner {
    border: none;
    background-color: transparent;
    color: #6395fd;
    background-image: linear-gradient(
      to right,
      rgba(109, 117, 250, 0.2),
      rgba(90, 179, 255, 0.2)
    );
  }
}

.svg:hover {
  filter: invert(50%) sepia(66%) saturate(446%) hue-rotate(182deg)
    brightness(100%) contrast(103%);
}

.against-button {
  height: 16px;
  width: auto;
  margin-left: 12px;
  color: var(--o-text-color-secondary);

  svg {
    width: 16px;
    height: 16px;
  }
}

.el-tooltip {
  float: left; //解决整体右浮动.提示语位置偏差
}

.el-popper.is-customized {
  padding: 6px 12px;
  background: #f4f6fa;
  box-shadow: 0 4px 8px 0 rgba($color: #000000, $alpha: 0.2);
}

.el-popper.is-customized .el-popper__arrow::before {
  background: #f4f6fa;
  right: 0;
}

.search-suggestions {
  display: flex;
  line-height: 24px;
  margin-top: 16px;

  &_value {
    display: flex;
    flex-wrap: wrap;
  }
  .tip {
    color: var(--o-text-color-secondary);
    font-size: 12px;
    height: 32px;
    line-height: 32px;
    align-self: center;
    font-weight: 100;
    flex-shrink: 0;
  }
  .value {
    display: flex;
    color: var(--o-text-color-secondary);
    background-color: var(--o-bg-color-base);
    border-radius: 8px;
    padding: 8px 16px;
    margin: 0 0 8px 8px;
    font-size: 12px;
    &:hover {
      background-image: linear-gradient(to right, #6d75fa, #5ab3ff);
      color: var(--o-text-color-fourth);
    }
    p {
      align-content: center;
      align-items: center;
      line-height: 16px;
    }
  }
}
.dialogue-panel {
  width: calc(100% - 176px);
  max-width: 1000px;
  &__user {
    position: relative;
    margin-bottom: 24px;

    &-time {
      display: flex;
      justify-content: center;
      color: #8d98aa;
      font-size: 12px;
    }

    p {
      padding: 12px 16px;
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__content {
    display: flex;
    align-items: flex-start;
    margin-top: 16px;
    overflow-wrap: break-word;
    word-break: break-all;

    img {
      width: 48px;
      height: 48px;
      position: absolute;
    }

    .content {
      font-size: 16px;
      align-items: center;
      align-content: center;
      font-size: 16px;
      align-items: center;
      align-content: center;
      border-radius: 8px;
      border-top-left-radius: 0px;
      padding: 12px;
      color: var(--o-text-color-primary);
      background-image: var(--o-content-bg);
      min-height: 48px;
      .messaege {
        line-height: 24px !important;
        top: 10px;
        margin-top: 24px;
        display: block;
        width: 100%;
      }
    }
  }

  &__robot {
    position: relative;
    border-radius: 8px;

    .loading {
      display: flex;
      border-radius: 8px !important;
      border-top-left-radius: 0px !important;
      border-radius: 8px !important;
      border-top-left-radius: 0px !important;

      @keyframes rotate-img {
        from {
          transform: rotate(0);
        }

        to {
          transform: rotate(360deg);
        }
      }


      &-icon {
        animation: rotate-img 1s infinite linear;
      }

      &-text {
        font-size: 16px;
        line-height: 24px;
        padding-left: 4px;
        padding-left: 4px;
        color: var(--o-text-color-primary);
      }
    }

    &-slot {
      .dialog-panel__robot-time {
        display: flex;
        justify-content: center;
        color: #8d98aa;
        font-size: 12px;
        margin-bottom: 10px;
        margin-top: 16px;
      }

      &::before {
        content: '';
        position: absolute;
        top: 30px;
        width: 48px;
        height: 48px;
        background-image: url('src/assets/svgs/robot.svg');
      }
    }

    &-content {
      padding: 24px 24px 16px 24px;
      border-top-right-radius: 8px;
      overflow-wrap: break-word;
      text-align: justify;
      line-height: 24px;
      color: var(--o-text-color-primary);

      &::before {
        content: '';
        position: absolute;
        left: -64px;
        left: -64px;
        top: 0px;
        width: 48px;
        height: 48px;
        background-image: url('src/assets/svgs/robot.svg');
      }
    }

    &-bottom {
      padding: 0px 24px;
      border-radius: 0 0 8px 8px;

      .action-buttons {
        border-top: 1px dashed var(--o-border-color-light);
        padding: 16px 0 20px 0px;
        display: flex;
        align-items: center;

        .pagenation {
          display: flex;

          &-item {
            margin-right: 8px;
            border-radius: 4px;
            font-size: 12px;
            line-height: 16px;
            color: var(--o-question-color) !important;
            letter-spacing: 0px;
          }

          img {
            width: 16px;
            height: 16px;
          }

          &-arror {
            margin: 0;
            cursor: pointer;
          }
          .ml-8 {
            margin-left: 4px;
          }
          .mr-8 {
            margin-right: 4px;
          }

          .pagenation-cur {
            font-size: 12px;
            line-height: 16px;
            color: var(--o-text-color-tertiary) !important;
          }

          .pagenation-total {
            font-size: 12px;
            line-height: 16px;
            color: var(--o-text-color-primary) !important;
          }

          letter-spacing: 2px;
        }

        .regenerate-button {
          display: flex;
          align-items: center;
          margin-left: 8px;
          color: var(--o-text-color-secondary);
          font-size: 12px;
          line-height: 16px;
          cursor: pointer;
          user-select: none;

          img {
            margin-right: 4px;
          }

          .paused-answer {
            color: #c4c2c2;
            cursor: text;
          }
        }

        .button-group {
          margin-left: auto;
          display: flex;
          align-items: center;
          font-size: 12px;

          .button-icon {
            width: 24px;
            height: 24px;
            margin-left: 4px;
          }

          .copy {
            width: 24px;
            height: 24px;
          }

          .copy:hover {
            filter: invert(50%) sepia(66%) saturate(446%) hue-rotate(182deg)
              brightness(100%) contrast(103%) contrast(99%);
          }

          .button-icon:hover {
            filter: invert(50%) sepia(66%) saturate(446%) hue-rotate(182deg)
              brightness(100%) contrast(103%) contrast(99%);
          }

          img {
            vertical-align: bottom;
            cursor: pointer;
            user-select: none;
            width: 16px;
            height: 16px;
          }
        }
      }
    }
  }

  &__stop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 128px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid var(--o-border-color-extralight);
    margin-top: 38px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;

    img {
      width: 16px;
      height: 16px;
      margin-right: 8px;
    }

    &-answer {
      font-size: 16px;
      color: var(--o-text-color-primary);
      line-height: 24px;
    }
  }

  :deep(.el-loading-spinner .circular) {
    width: 20px;
    height: 20px;
  }
}
// 工作流调试抽屉样式
.workFlowDebugStyle {
  width: auto;
  padding-right: 24px;
  padding-left: 64px;
  .dialogue-panel__content {
    .content {
      margin-left: 0px;
      min-height: 48px;
      .message {
        white-space: pre-line;
      }
    }
  }
  .dialogue-panel__robot {
    gap: 16px;
    border-radius: 8px;
    .dialogue-panel__robot-content {
      border-radius: 8px !important;
      border-radius: 8px !important;
      // 工作流调试时控制显示
      .dialogue-thought {
        // ai思考无需显示
        display: none;
      }
      // 调试抽屉中echarts无需显示
      .answer_img {
        display: none;
      }
      .loading-echarts {
        display: none;
      }
    }
  }
  // 调试抽屉中不需要显示底部反对等功能图标
  .dialogue-panel__robot-bottom {
    display: none;
  }
}
.centerTimeStyle {
  color: var(--o-question-color) !important;
  width: 136px;
  line-height: 20px;
  padding: 0px 8px;
  padding: 0px 8px;
  background-color: var(--o-time-text);
  border-radius: 12px;
}
.loading-style {
  border-radius: 8px !important;
  border-top-left-radius: 0px !important;
  border: 24px;
}
.dialogue-panel__user-time {
  margin-top: 24px;
  height: 20px;
  line-height: 20px;
}
.userArea {
  height: 48px;
  img {
    left: -64px !important;
  }
}
.loading-style {
  border-radius: 8px !important;
  border-top-left-radius: 0px !important;
  border: 24px;
}
.dialogue-panel__user-time {
  margin-top: 24px;
  height: 20px;
  line-height: 20px;
}
.userArea {
  height: 48px;
  img {
    left: -64px !important;
  }
}
.disliked-button {
  background-color: #5ab3ff !important;
  :deep(.el-popper__arrow){
    display: none !important;
  }
}
:deep(.el-popper){
  :deep(.el-popper__arrow){
    display: none !important;
  }
}

:deep(.el-popper[role=tooltip]){
  :deep(.el-popper__arrow){
    display: none !important;
  }
}
