.apiCenterBox {
  display: flex;
  justify-content: center;
  min-width: 1032px;
  .apiCenterMain {
    color: var(--o-text-color-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
    .apiCenterTitle {
      color: var(--o-text-color-primary);
      font-size: 24px;
      font-weight: 700;
      line-height: 36px;
      margin-bottom: 16px;
    }
    .apiCenterSearch {
      margin-bottom: 32px;
      :first-of-type .el-input__wrapper {
        width: 280px;
        border-radius: 0px 4px 4px 0px;
      }
      .el-input-group__prepend {
        border-radius: 4px 0px 0px 4px;
        .el-input__wrapper {
          border-radius: 4px 0px 0px 4px;
        }
      }

      .createApi {
        margin-left: 8px;
        border-radius: 4px;
      }
    }

    .apiCenterType {
      display: flex;
      height: 32px;
      align-items: center;
      justify-content: space-between;
      gap: 2px;
      border-radius: 4px;
      background-color: var(--o-border-color-base);
      .apiCenterBtn {
        width: 197px;
        height: 28px;
        display: flex;
        font-size: 12px;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        cursor: pointer;
        color: var(--o-text-color-primary);
      }
    }
    .apiCenterCardContainer {
      width: 1336px;
      .apiCenterCardBox {
        height: calc(100vh - 370px);
        overflow-y: auto;
        width: fit-content;
        display: flex;
        align-content: flex-start;
        flex-wrap: wrap;
        box-sizing: border-box;
        gap: 16px;
        padding-top: 16px;
        .apiCenterCardSingle {
          height: fit-content;
          box-sizing: border-box;
          border: 1px solid transparent;
          cursor: pointer;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          border-radius: 8px;
          width: 320px;
          padding: 16px;
          background-color: var(--o-bg-color-base);
          .apiCenterCardContentCollect {
            width: 24px;
            height: 24px;
            background-color: var(--o-bg-color-light);
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            svg {
              width: 16px;
              height: 16px;
              path {
                fill: var(--o-text-color-tertiary);
              }
            }
            .apiFavorite {
              path {
                fill: rgb(99, 149, 253);
              }
            }
          }
          .apiCenterCardBottom {
            margin-top: 16px;
            display: flex;
            flex-direction: column;
            color: #8d98aa;

            .apiCenterCardId {
              font-size: 12px;
              line-height: 16px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              span {
                margin-right: 4px;
              }
            }
            .apiCenterCardFooter {
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-top: 4px;

              .apiCenterCardUser {
                font-size: 12px;
                line-height: 16px;
              }
              .apiCenterCardOps {
                display: flex;
                align-items: center;
                gap: 8px;
                .deleteAndEdit {
                  display: flex;
                  align-items: center;
                }
                .el-button span {
                  color: #6395fd;
                  font-size: 12px;
                }
              }
            }
          }
        }
        .apiCenterCardSingle:hover {
          box-sizing: border-box;
          border: 1px solid #7aa5ff;
          box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.2) !important;
          background: linear-gradient(
            127deg,
            rgba(109, 117, 250, 0.07) 1.003%,
            rgba(90, 179, 255, 0.07) 98.421%
          ) !important;
        }
      }
      .appCenterNoData {
        top: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: center;
        margin-top: 16px;
        .noDataIcon {
          width: 320px;
          height: 130px;
          background: var(--no-work-flow) center center no-repeat;
          background-size: contain;
        }
        .desc {
          height: 16px;
          font-size: 12px;
          color: var(--o-text-color-primary);
        }
      }
    }
    @media screen and (width <= 1400px) {
      .apiCenterCardContainer {
        width: 1000px;
      }
    }

    :deep(.el-pagination) {
      margin-top: 16px;
      .el-select__wrapier {
        background-color: transparent;
      }
    }
  }
  .apiCenterBtnActive {
    background-color: #6395fd;
    border-color: var(--o-color-primary) !important;
    color: var(--o-color-white) !important;
  }
}
// 应用中心删除二次提示样式
.el-message-box {
  min-width: 400px;
  padding: 0px !important;
  border-radius: 8px;
  .el-message-box__headerbtn {
    width: 16px;
    height: 16px;
    right: 20px;
  }
  .el-message-box__status {
    top: 0px;
  }
  .el-message-box__message {
    padding-left: 4px;
  }
  .el-message-box__btns {
    flex-direction: row;
    .el-button {
      width: 64px;
      height: 24px;
    }
  }
}

.el-button span {
  color: #6395fd;
  font-size: 12px;
  &:hover {
    color: #7aa5ff !important;
  }
  &:active {
    color: #6395fd !important;
  }
  &:disabled {
    color: #6395fd !important;
  }
}
