:root {
  --el-color-primary: #6395fd;
  --o-func-base-primary: #6395fd;
  .el-button {
    --o-button-color_label: #6395fd;
    --o-button-color_label_hover: #7aa5ff;
      &:hover{
        color: #7aa5ff;
      }
      &:active{
        color: #6395fd;
      }
      &:disabled{
        color: #6395fd;
      }
  }
  .el-message-box__container {
    display: flex;
    align-items: center;
    .el-message-box__message {
      padding: 0;
    }
  }
  .el-checkbox.is-checked .el-checkbox__inner {
    background-color: #6395fd !important;
    border-color: #6395fd !important;
    &:hover {
      background-color: #7aa5ff !important;
      border-color: #7aa5ff !important;
    }
    &:active {
      background-color: #6395fd !important;
      border-color: #6395fd !important;
    }
  }
  .el-checkbox__input.is-checked .el-checkbox__inner {
    background-color: #6395fd !important;
    border-color: #6395fd !important;
    &:hover {
      background-color: #7aa5ff !important;
      border-color: #7aa5ff !important;
    }
    &:active {
      background-color: #6395fd !important;
      border-color: #6395fd !important;
    }
  }
  .el-message {
    width: 30%;
    border-radius: 5px;
  }

  .el-message--success {
    background-color: #c2e7c7;
    color: #000;
    border-color: #24ab36;
    border-radius: 10px;
    .el-message__content {
      color: #000;
      font-size: 12px;
    }
  }

  .el-message--warning {
    background-color: #f9ecb8;
    border-color: #ebaf00;
    img {
      width: 16px;
      height: 16px;
    }
    .el-message__content {
      color: #000;
      font-size: 12px;
    }
  }

  .el-message--error {
    background-color: #f7c1c1;
    color: #000;
    border-color: #e42121;
    .el-message__content {
      color: #000;
      font-size: 12px;
    }
  }
}

.euler-copilot-message-box {
  background-color: #fefefe;
  border-radius: 4px;
  .el-message-box__header {
    font-weight: bold;
    box-shadow: inset 0 -1px 0 0#dfe5ef;
  }
}

.el-message-box {
  width: 432px !important;
  height: 184px !important;
}

.el-button:not(.is-disabled) {
  color: var(--o-button-color) !important;
  border-color: var(--o-button-border-color) !important;
}

.el-button:not(.is-disabled):focus {
  color: var(--o-button-color) !important;
  border-color: var(--o-button-border-color) !important;
}

.el-button:not(.is-disabled):active {
  color: #6395fd !important;
  border-color: #6395fd !important;
}

.el-button:not(.is-disabled):hover {
  color: #7aa5ff !important;
  border-color: #7aa5ff !important;
}

.el-button--primary:not(.is-disabled) {
  background-color: #6395fd !important;
  color: white !important;
  border-color: #6395fd !important;
}

.el-button--primary:not(.is-disabled):focus {
  background-color: #6395fd !important;
  color: white !important;
  border-color: #6395fd !important;
}

.el-button--primary:not(.is-disabled):active {
  background-color: #6395fd !important;
  color: white !important;
  border-color: #6395fd !important;
}

.el-button--primary:not(.is-disabled):hover {
  background-color: #7aa5ff !important;
  color: white !important;
  border-color: #7aa5ff !important;
}

.el-message {
  --o-message-border-radius: 8px !important;
}

.exit-button {
  margin-left: 0px !important;
}

.o-message--error {
  width: 544px;
  background-color: var(--o-message-bg-color_error) !important;
  border-color: var(--o-message-border-color_error) !important;
  .el-message__content {
    flex: 1;
  }
  .el-icon {
    position: relative !important;
    top: unset !important;
  }
}

.o-message--success {
  width: 544px;
  background-color: #c2e7c7 !important;
  border-color: #24ab36 !important;
  .el-message__content {
    flex: 1;
  }
  .el-icon {
    position: relative !important;
    top: unset !important;
  }
}

.el-checkbox.el-checkbox--large {
  height: auto !important;
}
.el-dialog {
  border-radius: 8px !important;
}
.el-dialog__header {
  margin-right: 0px !important;
  border-radius: 8px 8px 0 0 !important;
  padding: 16px 24px 16px 24px !important;
  .el-dialog__title {
    font-size: 16px !important;
    line-height: 24px !important;
    font-weight: 700 !important;
  }
}
.el-dialog__body {
  padding: 16px 24px 16px 24px !important;
  margin: 0 !important;
}
.el-drawer {
  top: 48px !important;
  height: calc(100vh - 48px) !important;
  .el-drawer__header {
    color: var(--o-text-color-primary) !important;
    font-weight: 700 !important;
    padding: 24px 24px 8px 24px !important;
    margin: 0 !important;
  }
  .el-drawer__body {
    padding: 0px 24px 16px !important;
  }
  .el-drawer__footer {
    padding: 0;
    padding: 8px 24px;
    box-shadow: 0 -8px 16px rgba(0, 0, 0, 0.1);
  }
}

.el-tabs__header{
  height: 32px !important;
  .el-tabs__nav-scroll{
    height: 32px !important;
    .el-tabs__item{
      padding: 0px 16px 0px 0px !important;
    }
  }
}