@font-face {
  font-family: 'HarmonyOS_Sans_SC_Regular';
  src: url('./fonts/HarmonyOS_Sans_SC_Regular.woff2');
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: HarmonyOS_Sans_SC_Regular, 'Helvetica Neue', Helvetica,
    'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial,
    sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
  cursor: pointer;
}
textarea {
  resize: none;
}
svg:focus {
  outline: none;
}

html {
  overflow: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  transition:
    color 0.5s,
    background-color 0.5s;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  background-color: #f5f5f6;
}
.successBg {
  background-color: rgba(36, 171, 54, 0.2);
  color: #24ab36;
}
.errorBg {
  background-color: #fbdede;
  color: #e32020;
}
.debugSuccess {
  background-color: var(--o-color-success) !important;
  color: var(--o-bg-color-base) !important;
}
