@import './codePreview.scss';
@import './message.scss';
@import './theme.scss';

// 全局重写tooltip样式
.el-popper {
    max-width: 376px !important;
}
body {
  will-change: transform;
  transition: transform 0.3s ease;
}